# Project exclude paths
.idea
/Algorithm/target/
/AlgorithmBook/target/
/AlgorithmBookExercise/target/
/CoreJava/target/
/DataStructures/target/
/DataStructures/target/
/LearningDemo/target/
/Nutshell/target/
/LearningDemo/target/
